@model IEnumerable<WeatherAPP___Core.Models.Main>

@{
    ViewData["Title"] = "MyWeather";
}

<h1>MyWeather</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percepita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percepita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
        </tr>
}
    </tbody>
</table>
