@model WeatherData
@{ Layout = "_Layout"; ViewBag.Title = "Meteo";}

@try
{
<h2>Weather Info @Model.Title</h2> string tipoMeteo = "";
                switch (Model.Weather[0].Visibility.ToString())
                {
                    case "Rain": tipoMeteo = "Rainy 🌧"; break;
                    case "Clear": tipoMeteo = "Sunny! ☀"; break;
                    case "Clouds": tipoMeteo = "Cloudy ⛅"; break;
                }


<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>Pogoda</th><th>Temperatura</th><th>Wilgotność</th><th>Temp Odczuwalna</th><th>Wiatr</th><th>Ciśnienie</th><th>Kraj</th></tr></thead>
    <tbody>

        <tr>
            <td>@tipoMeteo </td>
            <td>@Model.Main.Temperature °C</td>
            <td>@Model.Main.Humidity %</td>
            <td>@Model.Main.Percepita °C</td>
            <td>@Model.Wind.Speed Nodi</td>
            <td>@Model.Main.Pressure</td>
            <td>@Model.Sys.Country</td>
        </tr>


    </tbody>
</table>
                <br />
                                <a asp-action="" class="btn btn-sm btn-primary">Search Again!</a>
                                                <br />
                                                                @switch (Model.Weather[0].Visibility.ToString())
                                                                {
                                                                    case "Clear":
<center> <img src="~/Images/sunny.jpg" height="550" width="550"> </center> ; break;
                                                                    case "Clouds":
<center> <img src="~/Images/cloudy.jpg" height="550" width="550"> </center> ; break;
                                                                    case "Rain":
<center>  <img src="~/Images/rainy.jpg" height="550" width="550"> </center>; break;
                                                                } }
                                                                            catch
                                                                            {

                                                                <h1>I am sorry, I can't find your city :(</h1>

                                                                                <br />
                                                                                                <a asp-action="" class="btn btn-sm btn-primary">Search Again!</a>}